:root {
  --main-font-family: 'Courier New', Courier, monospace;
  --secondary-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

/* Shared */

.show-menu,
.side-nav {
  display: none;
}

.switch input,
.show-menu input {
  display: none;
}

.slider,
.slider::before,
.show-menu i,
.side-nav,
.button {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
}

.switch,
.show-menu i {
  height: 2.25rem;
  position: relative;
}

.picture-image {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.job,
.button {
  font-family: var(--secondary-font-family);
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;
}

/* Menu bar */

.menu-bar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 10vh;
  padding: 1rem 3rem 0 3rem;
  position: relative;
}

.top-nav {
  overflow: hidden;
}

.top-nav a {
  float: left;
  display: block;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  user-select: none;
}

.top-nav a:hover {
  border-top-color: var(--red);
  border-top-style: solid;
  border-top-width: 1px;
}

.top-nav a:active {
  border-top-color: var(--red);
  border-top-style: solid;
  border-top-width: 1px;
  transform: translateY(4px);
}

/* Side menu */

.show-menu {
  cursor: pointer;
}

.show-menu i {
  font-size: 1.75rem;
  width: 2.25rem;
}

.fa-bars {
  padding: 0.2rem 0 0 0.3rem;
}

.fa-times {
  padding: 0.2rem 0 0 0.48rem;
}

#show-menu:checked + .side-nav {
  display: block;
}

.side-nav {
  background-color: var(--main-bg-color);
  margin-top: 0.5rem;
  position: absolute;
  padding: 0.5rem 1rem 1rem 1rem;
  right: 3rem;
  z-index: 99;
}

.side-nav a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem 0 0.5rem 0;
  position: relative;
  width: auto;
  min-width: 3rem;
  user-select: none;
  z-index: 10;
}

/* Theme switch */

.switch {
  display: inline-block;
  margin-right: 1rem;
  width: 3.8rem;
}

.slider {
  background-color: var(--main-bg-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  transition: 400ms;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--main-font-color);
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  transition: 400ms;
}

#switch:checked + .slider {
  background-color: #FFF;
}

#switch:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Specific */

.content {
  display: flex;
  min-height: 90vh;
  position: relative;
}

.side {
  max-height: 20rem;
  max-width: 20rem;
}

.about {
  max-width: 26rem;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.picture-image {
  position: absolute;
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.job {
  color: var(--orange);
  font-size: 0.8rem;
}

.hr {
  background-color: var(--red);
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 4rem;
}

.description {
  font-size: 1.5rem;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.contact .button {
  margin-right: 0.5rem;
}

.button {
  background-color: transparent;
  color: var(--button-color);
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.02) translateY(-4px);
}

.button:active {
  transform: scale(0.98) translateY(-2px);
}

.social {
  display: flex;
  margin-top: 1.5rem;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}

.social a:active {
  opacity: 1;
  transform: scale(1.1);
}

/* Responsiveness */

@media screen and (max-width: 799px) {
  .top-nav {
    display: none;
  }

  .show-menu {
    display: inline-block;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 3rem 5rem 3rem;
  }

  .side {
    margin-bottom: 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {

  .content {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 0 4rem 4rem 4rem;
  }

  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-right: 4rem;
    width: 20rem;
  }

  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
