/* Clean canvas */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Defaults */

body {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #101010;
    color: #FFFFFF;
}


/* Main page container */

main {
    overflow: auto;
}

.page_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    text-align: center;
    padding-bottom: 100px;
}


/* Fancy links */

a {
    text-decoration: none;
    color: #FF9800;
}

a:hover {
    color: #FFFFFF;
}

a > .functionName:hover {
    color: #FFFFFF;
}


/* Links with icons */

.icon_link_combo i {
    color: #FFFFFF;
}

.icon_link_combo:hover i {
    color: #CCDB38;
}

.cube-container {
    margin-top: 12px;
    margin-bottom: 12px;
}

#cube {
    width: 50px;
    height: 50px;
}


/* Page title */

h1 {
    color: #F44235;
    font-size: 3em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    margin-bottom: 0px;
}

p {
    color: #9E9E9E;
    line-height: 1.8em;
}


/* Social Nav */

nav {
    text-align: left;
    display: inline-block;
}


/* Fancy shenanigans*/

.commentHeader::before {
    content: "// ";
}

.commentHeader {
    color: #FFFFFF;
    margin-bottom: 0;
}

.functionName::before {
    content: "public static Profiles ";
    color: #5F7C8A;
    font-style: italic;
}

.functionName {
    color: #CCDB38;
}

.functionName::after {
    content: "() {";
    color: #FFFFFF;
    font-weight: bold;
}

.functionData {
    margin: 3px 0 3px 0;
    padding: 10px 5px 5px 2px;
    list-style: none;
    border-left: 1.4px dotted #B6B6B6;
}

.functionData > li {
    padding: 10px 0 10px 0;
}

.func_body::after {
    content: "}";
    font-weight: bold;
}

.functionData > li::before {
    content: "----/ ";
    color: #B6B6B6;
}


/* PGP key */

.objectName::before {
    content: "public final Key ";
    color: #5F7C8A;
    font-style: italic;
    font-weight: normal;
}

.objectName {
    color: #E81D62;
    font-weight: bold;
}

.assignment_opr {
    color: #FFFFFF;
}

.raw_assign::after {
    content: " [";
    font-weight: bold;
}

.raw_data::after {
    content: "]";
}

.assignment_opr + a > .functionName::before {
    content: "";
}

.assignment_opr + a > .functionName::after {
    content: "()";
}

.assignment_opr + a:hover > .functionName::after {
    color: #FF9800;
}


/* Page footer */

footer {
    margin-top: 80px;
    position: absolute;
    background-color: #212121;
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

footer > .sub-txt {
    padding-left: 20px;
    padding-right: 20px;
}

.sub-txt > a {
    color: #9E9E9E;
}

.sub-txt > a:hover,
.sub-txt .fa-heart,
.sub-txt .fa-coffee,
.sub-txt .fa-headphones,
.sub-txt .fa-moon-o {
    color: #FFFFFF;
}

.sub-txt .fa-heart:hover {
    color: #F44336;
}

.sub-txt .fa-coffee:hover {
    color: #FFEB3B;
}

.sub-txt .fa-headphones:hover {
    color: #FF7043;
}

.sub-txt .fa-moon-o:hover {
    color: #AB47BC;
}
